
{% if account.banned %}
<div class="alert alert-danger">
  {{ account.banned }}
</div>
{% endif %}

{% if not account.stopNagging %}
<div class="alert alert-info">
  Please take a moment to
  <a href="https://docs.google.com/forms/d/1GwDKdaKHEmuGtTxzawpc7FDniQ5tmQORoCau7SSHQv4/viewform?edit_requested=true" target="_blank">provide feedback</a>.
  <a class="close" href="/stopnagging">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
{% endif %}

<p>
  <a class="btn btn-primary" href="/submit">
    <i class="fa fa-pen"></i>
    Add Post
  </a>
  <a class="btn btn-secondary" href="/import">
    <i class="fas fa-file-csv"></i>
    Import
  </a>
</p>

<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Sub</th>
    <th>When</th>
  </tr>
</thead>
<tbody>
{% for post in posts %}
<tr>
  <td>
    {% if post.error %}
    <i class="fas fa-xs fa-exclamation-triangle text-danger"></i>
    {% elseif post.url is empty %}
    <i class="far fa-xs fa-clock text-muted"></i>
    {% else %}
    <i class="fa fa-xs fa-check text-muted"></i>
    {% endif %}
    <a href="/edit?id={{ post.id }}">{{ post.title }}</a>
  </td>
  <td>{{ post.subreddit }}</td>
  <td>{{ post.when | time_diff }}</td>
</tr>
{% else %}
<tr>
  <td colspan="3">
    <div class="text-center text-muted">
      You have no posts
    </div>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
