{% if account.donator %}
{% if not account.hideThanks %}
<div class="alert alert-success">
  Thanks for donating.
  <a class="close" href="/hidethanks">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
{% endif %}
{% else %}
<div class="alert alert-warning">
  Cronnit has not received any donations in nearly two months. The goal was to
  add more IP addresses to the server to improve how often it's rate limited.
  Please consider donating to improve it. You may mention your Reddit username
  when donating so that I can mark you as a verified donor until a better
  system is implemented. Cronnit currently handles over 500 posts per day.
</div>
{% endif %}


{% if account.banned %}
<div class="alert alert-danger">
  {{ account.banned }}
</div>
{% endif %}

{% if not account.stopNagging %}
<div class="alert alert-info">
  Please take a moment to
  <a href="https://docs.google.com/forms/d/1GwDKdaKHEmuGtTxzawpc7FDniQ5tmQORoCau7SSHQv4/viewform?edit_requested=true" target="_blank">provide feedback</a>.
  <a class="close" href="/stopnagging">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
{% endif %}

<p>
  <a class="btn btn-primary" href="/submit">
    <i class="fa fa-pen"></i>
    Add Post
  </a>
  <a class="btn btn-secondary" href="/import">
    <i class="fas fa-file-csv"></i>
    Import
  </a>
</p>

{% include view %}
