
<div class="row justify-content-md-center">
<div class="col-md-9">
<h2>Donate to Cronnit</h2>
<p>
  Cronnit will always be a free service and
  <a href="https://github.com/krisives/cronnit.us" target="_blank">open source</a>,
  but I happily accept donations which allow me to devote more time to the
  project. If using PayPal leave your username in the PayPal message if you
  wish to receive increased post limit. If using cryptocurrency message
  /u/KayRice on Reddit with your transaction ID.
</p>

<div class="row">
  <div class="col-md-4">
    <a href="https://paypal.me/krisives"
      target="_blank"
      class="btn btn-success btn-block btn-lg"
    >
      <span class="fab fa-paypal"></span>
      PayPal
    </a>
  </div>
  <div class="col-md-4">
    <a href="bitcoincash:qza0tk3tmp9pvs8te65lypr9h76tkfv3sqtp38tedd"
      target="_blank"
      class="btn btn-success btn-block btn-lg"
    >
      <span class="fab fa-bitcoin"></span>
      Bitcoin Cash
    </a>
  </div>
  <div class="col-md-4">
    <a href="monero:42frSVG2KdxjYfF6zwRYmWZwReKUPPvvRLks84LXoupsJEnYm4BpdehTCTCchZBfapEXZiuSfeu9k1bT9Xw1gfbCJjx7889"
      target="_blank"
      class="btn btn-success btn-block btn-lg"
    >
      <span class="fab fa-monero"></span>
      Monero
    </a>
  </div>
</div>
</div>
</div>
