
{% if error %}
<div class="alert alert-danger">
  <i class="fa fa-exlamation-triangle"></i>
  {{ error }}
</div>
{% endif %}

{% if post.error %}
<div class="alert alert-danger">
  <div class="d-flex">
    <div class="d-flex mr-auto">
      Reddit had a problem with this post:
      {{ post.error }}
    </div>
    {#
    <div class="d-flex justify-content-end">
      <a class="btn btn-danger" href="#">
        <i class="fa fa-redo"></i>
        Retry
      </a>
    </div>
    #}
  </div>
</div>
{% endif %}

{% if post.ratelimit_count %}
<div class="alert alert-warning">
  This post was rate limited by Reddit for {{ (post.ratelimit_sum / 60) | number_format }}
  minutes
</div>
{% endif %}

<form method="post">
  {% if post.url is empty %}
  <div class="form-group">
    <label for="subreddit">Sub Reddit</label>
    <input type="text" name="subreddit" class="form-control" id="subreddit" placeholder="/r/kde" value="{{ post.subreddit }}">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Something Really Cool!" value="{{ post.title }}">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea rows="4" class="form-control" name="body" id="body" placeholder="Reddit Markdown or URL">{{ post.body }}</textarea>
  </div>
  <div class="form-group">
    <label for="whendate">Date</label>
    <input type="date" name="whendate" class="form-control" id="whendate" value="{{ post.whendate }}">
  </div>
  <div class="form-group">
    <label for="whentime">Time</label>
    <input type="time" name="whentime" class="form-control" id="whentime" value="{{ post.whentime }}">
  </div>
  <div class="form-group">
    <label for="whenzone">Timezone</label>
    <input id="whenzone" type="text" class="form-control" name="whenzone" value="{{ post.whenzone }}">
    <div class="form-text text-muted mx-2">
      <small>See <a href="/timezones" target="_blank">this list</a> for supported timezones</small>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="sendreplies" name="sendreplies" value="1" {{ post.sendreplies ? "checked" : "" }}>
      <label class="form-check-label" for="sendreplies">Send Replies to Inbox</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="nsfw" name="nsfw" value="1" {{ post.nsfw ? "checked" : "" }}>
      <label class="form-check-label" for="nsfw">NSFW</label>
    </div>
  </div>
  <button type="submit" name="submit" class="btn btn-primary">
    <i class="fa fa-check"></i>
    Save Changes
  </button>
  <button id="delete" type="submit" name="delete" class="btn btn-danger btn-sm">
    <i class="fa fa-trash"></i>
    Delete
  </button>
  {% else %}
  <div class="alert alert-info">
    <a class="btn btn-info float-right" href="{{ post.url }}" target="_blank" rel="noreferrer">
      <i class="fa fa-link"></i>
      View Post
    </a>
    <div class="p-1">
      Post already submitted to Reddit and cannot be changed, but you can still
      add comments.
    </div>
  </div>
  {% endif %}
</form>


<div class="m-1">
  <a class="btn btn-primary" href="/comment?post={{ post.id }}">
    <i class="fa fa-comment"></i>
    Add Comment
  </a>
</div>

{% if post.__get('ownCommentList') %}
<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Comment</th>
    <th>When</th>
  </tr>
</thead>
<tbody>
{% for comment in post.__get('ownCommentList') %}
<tr>
  <td>
    {% if comment.error %}
    <i class="fas fa-xs fa-exclamation-triangle text-danger"></i>
    {% elseif comment.url %}
    <i class="fa fa-xs fa-check text-muted"></i>
    {% else %}
    <i class="far fa-xs fa-clock text-muted"></i>
    {% endif %}

    {% if comment.url %}
    <a href="{{ comment.url }}" target="_blank" rel="noreferrer">
    {{ comment.body | slice(0, 100) }}
    </a>
    {% else %}
    {{ comment.body | slice(0, 100) }}
    {% endif %}
  </td>
  <td>{{ comment.delay }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<script>
$(function () {
  var zone = /(GMT[\+\-]\d+)/.exec(new Date().toString())[1];
  $('#whenzone').val(zone);

  $('#delete').click(function (e) {
    if (!confirm("Are you sure you want to delete?")) {
      e.preventDefault();
      e.stopPropigation();
    }
  });
});
</script>
