<p></p>

{% if error %}
<div class="alert alert-danger">
  <i class="fa fa-exlamation-triangle"></i>
  {{ error }}
</div>
{% endif %}

<form method="post">
  <div class="form-group">
    <label for="subreddit">Sub Reddit</label>
    <input type="text" name="subreddit" class="form-control" id="subreddit" placeholder="/r/kde" value="{{ post.subreddit }}">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Something Really Cool!" value="{{ post.title }}">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea rows="4" class="form-control" name="body" id="body" placeholder="Reddit Markdown or URL">{{ post.body }}</textarea>
  </div>
  <div class="form-group">
    <label for="whendate">Date</label>
    <input type="date" name="whendate" class="form-control" id="whendate" value="{{ post.whendate }}">
  </div>
  <div class="form-group">
    <label for="whentime">Time</label>
    <input type="time" name="whentime" class="form-control" id="whentime" value="{{ post.whentime }}">
  </div>
  <button type="submit" name="submit" class="btn btn-primary">
    <i class="fa fa-check"></i>
    Save Changes
  </button>
  <button id="delete" type="submit" name="delete" class="btn btn-danger btn-sm">
    <i class="fa fa-trash"></i>
    Delete
  </button>

  <input id="whenzone" type="hidden" name="whenzone" value="UTC">
</form>

<script>
$(function () {
  var zone = /(GMT[\+\-]\d+)/.exec(new Date().toString())[1];
  $('#whenzone').val(zone);

  $('#delete').click(function (e) {
    if (!confirm("Are you sure you want to delete?")) {
      e.preventDefault();
      e.stopPropigation();
    }
  });
});
</script>
