
<div class="row justify-content-md-center">
<div class="col-md-9">

<h2>
  Frequently Asked Questions
</h2>

<hr>

<h4>What is Cronnit?</h4>
<p>
  A service for making scheduled posts to <a href="https://reddit.com"
  target="_blank">Reddit</a>.
</p>

<hr>

<h4>How much does Cronnit cost?</h4>
<p>
  Cronnit is free and accepts <a href="https://www.paypal.me/krisives"
  target="_blank">donations via PayPal</a>. It was created because other
  services cost too much for this basic service.
</p>

<hr>

<h4>How does Cronnit post on my behalf?</h4>
<p>
  Cronnit uses the <a href="https://reddit.com/dev/api" target="_blank">Reddit
  API</a> via OAuth2. Cronnit will <strong>never ask you for your password</strong>.
</p>

<hr>

<h4>Can I post images or videos via Cronnit?</h4>
<p>
  Nope. Currently only "self" and "link" posts are supported. But you could
  upload the image to Imgur or YouTube for the time being and post those links.
</p>

<hr>

<h4>Can I modify the source code of Cronnit?</h4>
<p>
  Yes! Cronnit is on <a href="https://github.com/krisives/cronnit.us/">GitHub</a> under the MIT license.
</p>

<hr>

<h4>Why is it called Cronnit?</h4>
<p>
  Because in Linux scheduling tasks are done via <a
  href="https://en.wikipedia.org/wiki/Cron" target="_blank">Cron</a> jobs.
</p>

<hr>

<h4>How does Cronnit compare to other services?</h4>
<p>
  <table class="table">
  <thead>
    <tr>
      <th>Service</th>
      <th>Monthly Cost</th>
      <th>Monthly Posts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cronnit.us</th>
      <td>Free</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <th>Later for Reddit</th>
      <td>$30</td>
      <td>30</td>
    </tr>
    <tr>
      <th>Delay for Reddit</th>
      <td>$20</td>
      <td>70</td>
    </tr>
  </tbody>
  </table>
</p>

</div>
</div>
