
<div class="row justify-content-md-center">
<div class="col-md-9">

<h2>
  Frequently Asked Questions
</h2>

<hr>

<h4 id="what-is-cronnit">What is Cronnit?</h4>
<p>
  A service for making scheduled posts to <a href="https://reddit.com"
  target="_blank">Reddit</a>.
</p>

<hr>

<h4 id="how-much">How much does Cronnit cost?</h4>
<p>
  Cronnit is free and accepts <a href="/donate">donations</a>. It was created
  because other services cost too much for this basic service.
</p>

<hr>

<h4 id="how-does-cronnit-post-on-my-behalf">How does Cronnit post on my behalf?</h4>
<p>
  Cronnit uses the <a href="https://reddit.com/dev/api" target="_blank">Reddit
  API</a> via OAuth2. Cronnit will <strong>never ask you for your password</strong>.
</p>

<hr>

<h4 id="can-i-post-images">Can I post images or videos via Cronnit?</h4>
<p>
  Nope. Currently only "self" and "link" posts are supported. But you could
  upload the image to Imgur or YouTube for the time being and post those links.
</p>

<hr>

<h4 id="is-cronnit-open-source">Can I modify the source code of Cronnit?</h4>
<p>
  Yes! Cronnit is on <a href="https://github.com/krisives/cronnit.us/">GitHub</a> under the MIT license.
</p>

<hr>

<h4 id="why-is-it-called-cronnit">Why is it called Cronnit?</h4>
<p>
  Because in Linux scheduling tasks are done via <a
  href="https://en.wikipedia.org/wiki/Cron" target="_blank">Cron</a> jobs.
</p>

<hr>

<h4 id="how-does-cronnit-compare">How does Cronnit compare to other services?</h4>
<p>
  <table class="table">
  <thead>
    <tr>
      <th>Service</th>
      <th>Monthly Cost</th>
      <th>Monthly Posts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cronnit.us</th>
      <td>Free</td>
      <td>150+</td>
    </tr>
    <tr>
      <th>Later for Reddit</th>
      <td>$30</td>
      <td>30</td>
    </tr>
    <tr>
      <th>Delay for Reddit</th>
      <td>$20</td>
      <td>70</td>
    </tr>
  </tbody>
  </table>
</p>

<hr>

<h4 id="daily-limits">How do daily post limits work on Cronnit?</h4>
<p>
  Each account on Cronnit has a daily post limit, which by default is a limit
  of 5 posts per day. You can schedule as many posts as you want and that the
  daily limit applies to when the posts will be posted to reddit. For example,
  you can login and schedule 30 posts to happen over the next month, one per day,
  without any issue. However, if you try to schedule 6 posts to happen in the same hour
  it will refuse to schedule the last one because of your daily limit.
</p>
<p>
  Please contact <code>/u/KayRice</code> on Reddit via private message if you wish to
  have your daily post limit raised or wish to have a custom private server setup.
</p>

<hr>

<div style="height: 100vh"></div>

</div>
</div>
