<div class="text-center">
  <h2>
    Schedule Posts to Reddit
  </h2>

  <p class="lead">
    Cronnit.us is a free service for making scheduled posts to Reddit.
  </p>

  <a class="btn btn-primary btn-lg" href="/authorize">
    <i class="fab fa-reddit-alien"></i>
    Login with Reddit
  </a>
</div>

<hr>

<div class="row">
  <div class="col-md-4 text-center">
    <span class="fa fa-money-bill-wave fa-4x text-info"></span>
    <h3>Free</h3>
    <p>
      No cost. No signup. Authorize via Reddit itself.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <span class="fa fa-infinity fa-4x text-info"></span>
    <h3>No Limits</h3>
    <p>
      There are no limits to how many posts you can schedule.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <span class="fab fa-github-alt fa-4x text-info"></span>
    <h3>Open Source</h3>
    <p>
      Available on GitHub via the MIT license.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <span class="fab fa-markdown fa-4x text-info"></span>
    <h3>Links or Text</h3>
    <p>
      Submit markdown text or URL links.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <span class="fa fa-comment fa-4x text-info"></span>
    <h3>Comments</h3>
    <p>
      Schedule comments to automatically be submitted.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <span class="fab fa-reddit fa-4x text-info"></span>
    <h3>Reddit API</h3>
    <p>
      Uses the Reddit API to submit posts.
    </p>
  </div>
</div>

<hr>

<div class="text-center">
  Have a question? Check the <a href="/faq">FAQ</a> or
  <a href="https://www.reddit.com/message/compose/?to=kayrice" target="_blank">contact me</a>.
</div>
